{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Product Report </title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
      
    <!--bootstrap-table CSS-->
    <link rel="stylesheet" href="{% static 'css/bootstrap-table.min.css' %}">
    <link href="https://cdn.datatables.net/1.10.13/css/jquery.dataTables.min.css" rel="stylesheet">

    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="50X50" href="{% static 'css/logoTS.png' %}">
    
    <!-- Custom CSS for UI-->
    <link href="{% static 'css/style.min.css' %}" rel="stylesheet">
    <link href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" rel="stylesheet"/>
    

    <!-- form validation -->
    <script type="text/javascript" src = "{% static 'js/form-validation.js' %}"></script>
    <script type="text/javascript" src = "{% static 'js/bootstrap.bundle.min.js' %}"></script>

    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/jquery.bootstrapvalidator/0.5.2/css/bootstrapValidator.min.css"/>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery.bootstrapvalidator/0.5.2/js/bootstrapValidator.min.js">
    </script>

    <style>
        .dataTables_filter {
           display: none;
        }
    </style>
</head>

<body>
    <!-- ============================================================== -->
    <!-- Preloader - style you can find in spinners.css -->
    <!-- ============================================================== -->
    <div class="preloader">
        <div class="lds-ripple">
            <div class="lds-pos"></div>
            <div class="lds-pos"></div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <div id="main-wrapper" data-theme="light" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full" data-sidebar-position="fixed" data-header-position="fixed" data-boxed-layout="full">
        <!-- ============================================================== -->
        <!-- Topbar header - style you can find in pages.scss -->
        <!-- ============================================================== -->
        <header class="topbar" data-navbarbg="skin6">
            <nav class="navbar top-navbar navbar-expand-md">
                <div class="navbar-header" data-logobg="skin6">
                    <!-- This is for the sidebar toggle which is visible on mobile only -->
                    <a class="nav-toggler waves-effect waves-light d-block d-md-none" href="javascript:void(0)"><i
                            class="ti-menu ti-close"></i></a>
                    <!-- ============================================================== -->
                    <!-- Logo -->
                    <!-- ============================================================== -->
                    <div class="navbar-brand">
                        <!-- Logo icon -->
                        <a href="#">
                            <b class="logo-icon">
                                <!-- Dark Logo icon -->
                                <img src="{% static 'css/logoTS.png' %}" alt="homepage" class="dark-logo" width ="60px" height="65"/>
                                
                            </b>
                            <!--End Logo icon -->
                            <!-- Logo text -->
                            <span class="logo-text">
                                <!-- dark Logo text -->
                                <img src="{% static 'css/text-logoTS.png' %}" alt="homepage" class="dark-logo" width ="150px" height="80" style="margin-left: 0px, padding: 0px"/>
                                
                            </span>
                        </a>
                    </div>
                    <!-- ============================================================== -->
                    <!-- End Logo -->
                    <!-- ============================================================== -->
                    <!-- ============================================================== -->
                    <!-- Toggle which is visible on mobile only -->
                    <!-- ============================================================== -->
                    <a class="topbartoggler d-block d-md-none waves-effect waves-light" href="javascript:void(0)"
                        data-toggle="collapse" data-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><i
                            class="ti-more"></i></a>
                </div>
                <!-- ============================================================== -->
                <!-- End Logo -->
                <!-- ============================================================== -->
            </nav>
        </header>
        <!-- ============================================================== -->
        <!-- End Topbar header -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <aside class="left-sidebar" data-sidebarbg="skin6">
            <!-- Sidebar scroll-->
            <div class="scroll-sidebar" data-sidebarbg="skin6">
                <!-- Sidebar navigation-->
                <nav class="sidebar-nav">
                    <ul id="sidebarnav">
                        
                        <li class="sidebar-item"> <a class="sidebar-link has-arrow" href="javascript:void(0)"
                                aria-expanded="false"><i data-feather="grid" class="feather-icon"></i><span
                                    class="hide-menu">Dashboard </span></a>
                            <ul aria-expanded="false" class="collapse  first-level base-level-line">
                                <li class="sidebar-item"><a href="customer.html" class="sidebar-link"><span
                                            class="hide-menu"> Customer
                                        </span></a>
                                </li>
                                <li class="sidebar-item"><a href="product.html" class="sidebar-link"><span
                                            class="hide-menu"> Product
                                        </span></a>
                                </li>
                            </ul>
                        </li>
                        
                        <li class="list-divider"></li>
                        
                    </ul>
                </nav>
                <!-- End Sidebar navigation -->
            </div>
            <!-- End Sidebar scroll-->
        </aside>
        <!-- ============================================================== -->
        <!-- End Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Page wrapper  -->
        <!-- ============================================================== -->
        <div class="page-wrapper">
            <!-- ============================================================== -->
            <!-- Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <!--<div class="page-breadcrumb">
                <!--
                <div class="row">
                    <div class="col-7 align-self-center">
                        <h4 class="page-title text-truncate text-dark font-weight-medium mb-1">Basic Initialisation</h4>
                        <div class="d-flex align-items-center">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb m-0 p-0">
                                    <li class="breadcrumb-item"><a href="index.html" class="text-muted">Home</a></li>
                                    <li class="breadcrumb-item text-muted active" aria-current="page">Library</li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                    <div class="col-5 align-self-center">
                        <div class="customize-input float-right">
                            <select class="custom-select custom-select-set form-control bg-white border-0 custom-shadow custom-radius">
                                <option selected>Aug 19</option>
                                <option value="1">July 19</option>
                                <option value="2">Jun 19</option>
                            </select>
                        </div>
                    </div>
                </div>
            -->
            <!--</div>
            <!-- ============================================================== -->
            <!-- End Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->
            <div class="container-fluid">
                <!-- ============================================================== -->
                <!-- Start Page Content -->
                <!-- ============================================================== -->
                
                <!-- multi-column ordering -->
                
                <h4 class="card-title">Product Report</h4>
                    


                    <div class="container mb-2 mt-2">  
                    <table border="0" cellspacing="5" cellpadding="5">
                        <tbody>
                            <tr>
                                <td>Minimum Date:</td>
                                <td><input name="min" id="min" type="text"></td>
                            </tr>
                            <tr>
                                <td>Maximum Date:</td>
                                <td><input name="max" id="max" type="text"></td>
                            </tr>
                        </tbody>
                    </table>
                    
                    <!--<div id="toolbar" class="select">
                      <select class="form-control"> 
                        <option value="">Export Basic</option>
                        <option value="all">Export All</option>
                        <option value="selected">Export Selected</option>
                      </select>
                    </div>-->
                    <!--
                    <p id="date_filter">
                        <span id="date-label-from" class="date-label">From: </span><input class="date_range_filter date" type="text" id="datepicker_from" />
                        <span id="date-label-to" class="date-label">To:<input class="date_range_filter date" type="text" id="datepicker_to" />
                    </p>-->
                    <table 
                        id="table" class="display"
                            data-toggle = "table"
                            data-pagination = "true"

                            data-search = "true"
                            data-search-align = "left"
                            data-show-column = "true"
                            data-show-toggle = "true"
                            data-show-fullscreen = "true"
                            data-show-refresh = "true"
                            data-show-pagination-switch = "true"
                            data-pagination-pre-text = "Previous"
                            data-pagination-next-text = "Next"
                            data-pagination-h-align = "left"
                            data-pagination-detail-h-align = "right"
                            data-page-list = "[5, 10, 20, All]"
                            
                            data-show-export ="true">

                      <thead class="bg-info text-white">
                          <tr>
                              <th data-field="id" data-sortable="true" data-switchable="false">ID no.</th>
                              <th data-field="date-registered" data-sortable="true" data-switchable="false">Date Registered</th>
                              <th data-field="category" data-sortable="true" data-switchable="false">Category</th>
                              <th data-field="brand" data-sortable="true" data-switchable="false">Brand</th>
                              <th data-field="name" data-sortable="true" data-switchable="false">Name</th>
                              <th data-field="size" data-sortable="true" data-switchable="false">Size</th>
                              <th data-field="price" data-sortable="true" data-switchable="false">Price</th>
                              <th data-field="no_of_items" data-sortable="true" data-switchable="false">No. of Stocks</th>
                              <th data-field="edit" data-sortable="false" data-switchable="false">Edit</th>
                          </tr>
                      </thead>
                      <tbody>
                        {% for prod in products %}                          
                        <tr>
                            
                            <td>{{prod.id}}</td>
                            <td>{{prod.datereg | date:"Y/m/d"}}</td>
                            <td>{{prod.category}}</td>
                            <td>{{prod.brand}}</td>
                            <td>{{prod.name}}</td>
                            <td>{{prod.size}}</td>
                            <td>{{prod.price}}</td>
                            <td>{{prod.stocks}}</td>
                            <td>
                                <a type="button" class="btn btn-primary" href="#" data-toggle="modal" data-target="#newModal-{{prod.id}}">VIEW</a>
                                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal-{{prod.id}}">
                                  DELETE
                                </button>
                            </td>
                        </tr>
                        <!-- Modal VIEW-->
                        <div class="modal fade" id="newModal-{{prod.id}}" tabindex="-1" role="dialog" aria-labelledby="newModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-lg" role="document">
                            <div class="modal-content">
                                <div class="modal-header" style="background-color:#5c34eb">
                                  <h5 class="modal-title" style="color:white">VIEW DETAILS</h5>
                                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                  </button>
                                
                                </div>
                                <form class="needs-validation" action="" id="form2" method="POST" autocomplete="off" enctype="multipart/form-data">
                                {% csrf_token %}
                                    <div class="modal-body">
                                        <input type="text" name="prod-id" value = {{prod.id}} hidden>
                                        <div class="col-md-4 mb-3">
                                            <label for="">Category</label>
                                                        <Select class="form-control" id="id-category" name="prod-category" value ={{prod.category}}>
                                                            
                                                            <option> Smartphones </option>
                                                            <option> Laptops </option>
                                                            <option> Smart Devices </option>
                                                            <option> TV  </option>
                                                            <option> Sounds </option>
                                                            <option> Accesories </option>
                                                            

                                                        </Select>
                                    </div>
                                            
                                        
                                        <hr/> 
                                        <div class="row">
                                                          <div class="col-md-5 mb-3">
                                                              <label>Name</label>
                                                              <input type="text" class="form-control" id="id-name" name="prod-name" value ={{prod.name}} placeholder=""  required 
                                                    data-bv-notempty="true" 
                                                    data-bv-notempty-message="Name is required">
                                          </div>
                                          <div class="col-md-5 mb-3">
                                              <label for="">Brand</label>
                                              <input type="text" class="form-control" id="id-brand" name="prod-brand" value ={{prod.brand}} placeholder=""  required       
                                                      data-bv-notempty="true"
                                                      data-bv-notempty-message="Brand is required">
                                                        
                                          </div>
                                                
                                                       </div>
                                        <div class="row">

                                            <div class="col-md-4 mb-3">
                                                  <label for="">Size/Dimension</label>
                                              <input type="text" class="form-control" id="id-size" name="prod-size" value ={{prod.size}} placeholder=""  required data-bv-notempty="true"
                                              data-bv-notempty-message="Size is required">
                                              
                                            </div>
                                        </div>
                                    
                                        <div class="row">
                                                
                                                <div class="col-md-3 mb-3">
                                                  <label for="">No. of Stocks</label>
                                                  <input type="text" class="form-control" id="id-stocks" name="prod-stocks" value ={{prod.stocks}} placeholder=""  required    
                                                  data-bv-notempty="true"
                                                  data-bv-notempty-message="This is required"

                                                  data-bv-regexp="true"
                                                  data-bv-regexp-regexp="^[0-9]+$"
                                                  data-bv-regexp-message="must be numbers"

                                                  data-bv-stringlength="true" 
                                                  data-bv-stringlength-min="2"
                                                  data-bv-stringlength-max="2" 
                                                  data-bv-stringlength-message="receives only 10-99">
                                                  
                                                </div>
                                                <div class="col-md-5 mb-3">
                                                    <label for="">Price</label>
                                                    <div class="input-group">
                                                        <div class="input-group-prepend">
                                                                <span class="input-group-text">Php</span>
                                                        </div>
                                                        <input type="text" class="form-control" id="id-price" name="prod-price" value ={{prod.price}} placeholder=""  required data-bv-notempty="true"
                                                        data-bv-notempty-message="Price is required"
                                                        
                                                        data-bv-regexp="true"
                                                        data-bv-regexp-regexp="^[0-9]+$"
                                                        data-bv-regexp-message="must be numbers"

                                                        data-bv-stringlength="true" 
                                                        data-bv-stringlength-max="6" 
                                                        data-bv-stringlength-message="max of 6 digits only">
                                                       
                                                    </div>
                                                </div>
                                        </div>
                                        
                                    </div>
                                    <div class="modal-footer">
                                      <button type="button" class="btn btn-secondary" data-dismiss="modal">CLOSE</button>
                                      <button type="submit" id = "btnUpdate" name = "btnUpdate"  class="btn btn-primary">UPDATE</button>
                                    </div>  
                                </form>
                            </div>
                            </div>
                        </div>


                          <!-- Modal DELETE-->
                          <div class="modal fade" id="exampleModal-{{prod.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                              <div class="modal-content">
                                <div class="modal-header">
                                  <h5 class="modal-title" id="exampleModalLabel">DELETE RECORD</h5>
                                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                  </button>
                                </div>
                                <form id="deleteForm" method="post" >
                                {% csrf_token %} 
                                <div class="modal-body">                       
                                  <input type="text" name="pprod-id" value = {{prod.id}} hidden>
                                  Are you sure you want to delete this record?
                                </div>
                                <div class="modal-footer">
                                  <button type="button" class="btn btn-secondary" data-dismiss="modal">NO</button>
                                  <button type="submit" id = "btnDelete" name = "btnDelete" class="btn btn-primary">YES</button>
                                </div>
                              </div>
                            </form>
                            </div>
                          </div>
                        {% endfor %}
                      </tbody>
                      
                      </table>
                    </div>
                            
                
                <!-- ============================================================== -->
                <!-- End PAge Content -->
                <!-- ============================================================== -->
            </div>
            <!-- ============================================================== -->
            <!-- End Container fluid  -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- footer -->
            <!-- ============================================================== -->
            <footer class="footer text-center text-muted">
                <form id="form1" action="" method="POST" autocomplete="off" enctype="multipart/form-data">
                {% csrf_token %}
                <button type="submit" id = "btnAdd" name = "btnAdd" class="btn btn-primary">
                          Add Product 
                </button>
              </form>
                
                <p style="margin-top: 50px">All Rights Reserved by Techmart.  </p>
            </footer>
            <!-- ============================================================== -->
            <!-- End footer -->
            <!-- ============================================================== -->
        </div>
        <!-- ============================================================== -->
        <!-- End Page wrapper  -->
        <!-- ============================================================== -->
    </div>
    <script>
        $(document).ready(function() {
            $('#form2').bootstrapValidator();
        });
    </script>

    <!-- Scripts Datatable-->
    <script src = "https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://unpkg.com/bootstrap-table@1.17.1/dist/bootstrap-table.min.js"></script>

    <script src="https://unpkg.com/tableexport.jquery.plugin/tableExport.min.js"></script>
    <!--
    <script src="https://unpkg.com/libs/jsPDF.min.js"></script>
    <script src="https://unpkg.com/libs/jsPDF-AutoTable/jspdf.plugin.autotable.js"></script>-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.17.1/bootstrap-table.min.js"></script>
    <!--<script src="extensions/print/bootstrap-table-print.min.js"></script>-->
    <script src="{% static 'js/bootstrap-table-export.min.js' %}"></script>

    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    
    <!-- export -->
    <script>
        var table = $('#table')

        $('select').on('change', function(){
          
            table.bootstrapTable({
              exportDataType: $(this).val(),
              exportTypes: 'excel'
            })
          }
    </script>
    

    <!-- date filter -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>


        <script type="text/javascript">
             /* Custom filtering function which will search data in column four between two values */
        $(document).ready(function () { 
        
            $.fn.dataTable.ext.search.push(
                function (settings, data, dataIndex) {
                    var min = $('#min').datepicker("getDate");
                    var max = $('#max').datepicker("getDate");
                    // need to change str order before making  date obect since it uses a new Date("mm/dd/yyyy") format for short date.
                    var d = data[1].split("/");
                    var startDate = new Date(d[0]+ "/" +  d[1] +"/" + d[2]);

                    if (min == null && max == null) { return true; }
                    if (min == null && startDate <= max) { return true;}
                    if(max == null && startDate >= min) {return true;}
                    if (startDate <= max && startDate >= min) { return true; }
                    return false;
                }
            );

      
            $("#min").datepicker({ onSelect: function () { table.draw(); }, changeMonth: true, changeYear: true , dateFormat:"yy/mm/dd"});
            $("#max").datepicker({ onSelect: function () { table.draw(); }, changeMonth: true, changeYear: true, dateFormat:"yy/mm/dd" });
            var table = $('#table').DataTable();

            // Event listener to the two range filtering inputs to redraw on input
            $('#min, #max').change(function () {
                table.draw();
            });
        });
        </script>
        
        <!-- disable default datatable features -->
        <script>
          
          $('#table').dataTable( {
                paging: false,
                
                info: false
            } );
          $(".dataTables_info").hide();
        </script>


    
     
    <!-- ============================================================== -->
    <!-- End Wrapper -->
    <!-- ============================================================== -->
    <!-- End Wrapper -->
    <!-- ============================================================== -->
    <!-- All Jquery -->
    <!-- ============================================================== -->
    <!-- Bootstrap tether Core JavaScript -->
    
    <!-- apps -->
    <!-- apps -->
    <script src="{% static 'js/app-style-switcher.js' %}"></script>
    <script src="{% static 'js/feather.min.js' %}"></script>
    <!-- slimscrollbar scrollbar JavaScript -->
    <script src="{% static 'js/perfect-scrollbar.jquery.min.js' %}"></script>
    <script src="{% static 'js/sparkline.js' %}"></script>
    <!--Wave Effects -->
    <!-- themejs -->
    <!--Menu sidebar -->
    <script src="{% static 'js/sidebarmenu.js' %}"></script>
    <!--Custom JavaScript -->
    <script src="{% static 'js/custom.min.js' %}"></script>
    
    
</body>

</html>